/* CSS Document */
/* arrival before */
.row {
	width:100%; 
    text-indent: 50px;
}
/* arrival before end */
.arrivals .heading {
  text-align: center;
  position: relative;
  font-weight: bold;
}

.arrivals .arrivals-slider .box {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  border: var(--border);
  text-align: center;
}

.arrivals .arrivals-slider .box:hover {
  border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img {
  padding: 1rem;
  background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
  height: 25rem;
}
.arrivals .arrivals-slider .box:hover .image {
    transform: translateY(6rem);
 }
.arrivals .arrivals-slider .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}
.arrivals .arrivals-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
    float: right;
  }
.arrivals .arrivals-slider .box:hover .icons {
    transform: translateY(0%);
  }
.arrivals .arrivals-slider .box .content .price {
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}
.arrivals .arrivals-slider .box .icons a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
  }
  
 .arrivals .arrivals-slider .box .icons a:hover {
    background: var(--green);
    color: #fff;
  }
.arrivals .arrivals-slider .box .content .price span {
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i {
  font-size: 1.5rem;
  color: var(--green);
}
/* Side bar start */
.side-area{
    margin-bottom: 30px;
}
.side-area:last-child{
    margin-bottom: 0px;
}
.product-side .side-content{
    border-bottom: 1px solid #eee;
}
.product-side .side-content:last-child{
    border-bottom: 0px;
}
.product-side .list{
    border-top: 1px solid #ddd;
    padding-top: 25px;
    margin-top: 25px;
}
.product-side .list:first-child{
    padding-top: 0;
    margin-top: 0;
    border-top: 0px solid transparent;
}
.product-side .list li{
    margin-bottom: 18px;
    transition: 0.5s;
	text-decoration: none;
}
.product-side .list li a{
    font-size: 14px;
    font-weight: normal;
    color: #606060;
    position: relative;

}
.side-shadow{
    box-shadow: 0px 10px 10px 0px rgba(153,153,153,0.2);
}
@media (max-width: 991px){
    .side-title{
        padding-left: 0;
        padding-right: 0;
    }
}
.side-title h3{
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    background: #444546;
    padding: 10px 15px 10px 30px;
    text-transform: uppercase;
	background-color: var(--green);
}
/* Side bar end */
/* Product Items start*/
@media (max-width: 991px){
    .product-item{
        width: 100% !important
    }
    
}
.product-top .product-sec h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;

}
.product-cate img{
    width: 100%;
}
.product-cate .product-icon{
    position: absolute;
    right: -30px;
    bottom: 100px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.product-cate .product-icon a{
    width: 40px;
    height: 40px;
    display: inherit;
	background: #000;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    margin-top: 5px;
}
.product-cate .product-icon a .fa-heart{
	position: absolute;
	right: 25px;
	bottom: 115px;
	font-size: 1000;
}
.product-cate .product-icon a .fa-shopping-cart{
	position: absolute;
	right: 25px;
	bottom: 70px;
}
.product-cate .product-icon a .fa-eye{
	position: absolute;
	right: 25px;
	bottom: 25px;
}
.product-cate:hover .product-icon{
    position: absolute;
    right: 11px;
    bottom: 100px;
    visibility: visible;
    opacity: 1;
}
.product-cate .product-des{
    text-align: center;
    margin-top: 20px;
}
.product-cate .product-des h5{
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
	padding-left: 50px;
}
.product-cate .product-des p{
    font-size: 18px;
    font-weight: 600;
    color: #606060;
	padding-left: 50px;
}
.product-btn{
    display: inline-block;
    width: 170px;
    height: 60px;
    line-height: 60px;
    padding-right: 40px;
	padding-bottom: 60px;
	margin-left: 50px;
    background: #fff;
    font-size: 15px;
    font-weight: 700;
    color: #1e1e1e;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
}
.product-btn:hover{
    color: #fff!important;
    background: var(--green);
    text-decoration: none;
}
@media(max-width: 991px){
    .product-btn{
        height: 50px;
        width: 140px;
        line-height:50px;
    }
}

/* Product Items ends*/

.deal {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.deal1 {
  background: #a5cadc;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.deal2 {
  background: #91decc;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.deal .content {
  flex: 1 1 42rem;
}
.deal1 .content {
  flex: 1 1 42rem;
}
.deal2 .content {
  flex: 1 1 42rem;
}

.deal .image {
  flex: 1 1 42rem;
}
.deal1 .image1 {
  flex: 1 1 42rem;
}
.deal2 .image2 {
  flex: 1 1 42rem;
}

.deal .image img {
  width: 90%;
}
.deal1 .image1 img {
  width: 100%;
}
.deal2 .image2 img {
  width: 90%;
}

.deal .content h3 {
  color: var(--green);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.deal1 .content h3 {
  color: var(--green);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.deal2 .content h3 {
  color: var(--green);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.deal .content h1 {
  color: var(--black);
  font-size: 4rem;
}
.deal1 .content h1 {
  color: var(--black);
  font-size: 4rem;
}
.deal2 .content h1 {
  color: var(--black);
  font-size: 4rem;
}

.deal .content p {
  padding: 1rem 0;
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}
.deal1 .content p {
  padding: 1rem 0;
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}
.deal2 .content p {
  padding: 1rem 0;
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}



