/*checkout*/

:root {
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --border-hover: 1px solid var(--black);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
.checkout {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20%;
}

.checkout .logo {
  font-size: 26px;
  font-weight: 800;
  color: var(--green);
}

.checkout .menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.checkout .menu-item {
  margin: 2rem;
  cursor: pointer;
  font-weight: 600;
}
.checkout .menu-icons-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout .icon {
  filter: invert(1);
  height: 25px;
  margin: 1rem;
}

.checkout .progress-checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.checkout .progress-step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkout .step-check {
  background-color: var(--green);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-bottom: 1rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.checkout .progress-step-container:nth-of-type(3) .step-check::after {
  display: none;
}
.checkout .progress-step-container:nth-of-type(3) .step-check {
  background-image: none;
  background-color: white;
  border: 2px solid grey;
}
.checkout .progress-step-container:nth-of-type(2) .step-check::after {
  background-color: grey;
}
.checkout .progress-step-container:nth-of-type(3) .step-check {
  background-image: none;
  background-color: white;
  border: 2px solid var(--green);
}
.checkout .step-check::after {
  content: "";
  width: 15vw;
  height: 2px;
  background-color: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(-50%);
}
.checkout .step-title {
  color: grey;
}
.checkout .form-container {
  width: 60%;
  margin-top: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.checkout .form-title {
  font-size: 36px;
  margin-bottom: 2.5rem;
  font-weight: 500;
  opacity: 0.8;
}
.checkout .checkout-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.checkout .input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}
.checkout label {
  font-size: 16px;
  color: grey;
  margin-bottom: 0.5rem;
}
.checkout input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.checkout textarea {
  padding: 10px 10px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.checkout input[type="text"]::placeholder {
  font-size: 14px;
  color: #b9b9b9;
}
.checkout textarea::placeholder {
  font-size: 14px;
  color: #b9b9b9;
}
.checkout .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkout .input-container .input-line {
  width: 48%;
}

.checkout input[type="button"] {
  background-color: var(--green);
  color: white;
  font-weight: 500;
  font-size: 18px;
  height: 50px;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.checkout input[type="button"]:hover {
  background-color: var(--dark-color);
}
/*end*/
