/* CSS Document */
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");*/

:root {
  --green: #27ae60;
  --dark-color: #219150;
  --primary-color: #279cca;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Chiều rộng (chiều cao) được thiết lập từ thuộc tính width (height) chính là chiều rộng (chiều cao) của nguyên cả phần tử.*/
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  /*  scroll-padding-top: 5px;*/
  /* scroll-behavior: smooth;*/
}

html::-webkit-scrollbar {
  /*width: 1rem;*/
  width: 6px;
}
/*
html::-webkit-scrollbar-track {
  background: transparent;
}
*/

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  position: relative;
}

/* Snow css */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: var(--black);
  background: #fff;
  border: var(--border);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--green);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}
.btn1 {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: #a5cadc;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}
.btn:hover {
  background: var(--dark-color);
}

.header .header-1 {
  background: #fff;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-1 .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: green;
}

.header .header-1 .logo i {
  color: var(--green);
}

.header .header-1 .search-form {
  /* width: 50rem;
  height: 5rem;*/
  width: 500px;
  height: 50px;
  border: var(--border);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.header .header-1 .search-form input {
  font-size: 1.6rem;
  /* padding: 0 1.2rem;*/
  padding: 0px 12px;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.header .header-1 .search-form label {
  /*font-size: 2.5rem;
  padding-right: 1.5rem;*/
  font-size: 25px;
  padding-right: 15px;
  color: var(--black);
  cursor: pointer;
}

.header .header-1 .search-form label:hover {
  color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
  color: var(--green);
}

#search-btn {
  display: none;
}

.header .header-2 {
  background: var(--green);
  text-align: left;
  padding-left: 100px;
}

.header .header-2 .nav-- ul {
  display: inline-flex;
  list-style: none;
}

.header .header-2 .nav-- a {
  color: #fff;
  display: inline-block;
  padding: 1.5rem;
  font-size: 1.7rem;
  text-decoration: none;
}
.header .header-2 .nav-- li:hover {
  background: var(--dark-color);
}

.header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.menu-1 {
  display: none;
}
.header .header-2 .nav-- li:hover .menu-1 {
  display: block;
  position: absolute;
  background: var(--green);
  z-index: 1000;
}
.header .header-2 .nav-- li:hover .menu-1 ul {
  display: block;
}
.header .header-2 .nav-- li:hover .menu-1 ul li {
  width: 141px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: justify-all;
}
.header .header-2 .nav-- li:hover .menu-1 ul li a {
  font-size: 15px;
}
.header .header-2 .nav-- li:hover .menu-1 ul li a:hover {
  color: var(--black);
}
.header .header-2 .nav-- li:hover .menu-1 ul li:last-child {
  border-bottom: none;
}
.menu--1 {
  display: none;
}
.header .header-2 .nav-- li:hover .menu--1 {
  display: block;
  position: absolute;
  background: var(--green);
  z-index: 1000;
}
.header .header-2 .nav-- li:hover .menu--1 ul {
  display: block;
}
.header .header-2 .nav-- li:hover .menu--1 ul li {
  width: 167px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: justify-all;
}
.header .header-2 .nav-- li:hover .menu--1 ul li a {
  font-size: 15px;
}
.header .header-2 .nav-- li:hover .menu--1 ul li a:hover {
  color: var(--black);
}
.header .header-2 .nav-- li:hover .menu--1 ul li:last-child {
  border-bottom: none;
}
.menu-2 {
  display: none;
}
.menu-hover:hover .menu-2 {
  display: block;
  position: absolute;
  margin-top: -48.5px;
  margin-left: 140px;
  color: var(--black);
  background: var(--green);
}
.bottom-navbar {
  text-align: center;
  background: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.bottom-navbar a {
  /*font-size: 2.5rem;
  padding: 2rem;*/
  font-size: 25px;
  padding: 20px;
  color: #fff;
}

.bottom-navbar a:hover {
  background: var(--dark-color);
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
}
/*đên đây*/

.login-form-container.active {
  right: 0;
}

.login-form-container form {
  background: #fff;
  border: var(--border);
  width: 40rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  margin: 2rem;
}

.login-form-container form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
}

.login-form-container form span {
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.login-form-container form .box {
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.6rem;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: var(--black);
  text-transform: none;
}

.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.login-form-container form .checkbox label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.login-form-container form .btn {
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}

.login-form-container form p {
  padding-top: 0.8rem;
  color: var(--light-color);
  font-size: 1.5rem;
}

.login-form-container form p a {
  color: var(--green);
  text-decoration: underline;
}

.login-form-container #close-login-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  color: var(--black);
  cursor: pointer;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  text-transform: none;
}

.footer .box-container .box a i {
  color: var(--green);
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .map {
  width: 100%;
}

.footer .share {
  padding: 1rem 0;
  text-align: center;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  background: var(--green);
  margin: 0 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background: var(--black);
}

.footer .credit {
  border-top: var(--border);
  margin-top: 2rem;
  padding: 0 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: var(--light-color);
  text-align: center;
}

.footer .credit span {
  color: var(--green);
}
/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .header-1 {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }

  body {
    padding-bottom: 6rem;
  }

  .header .header-2 {
    display: none;
  }

  .bottom-navbar {
    display: block;
  }

  #search-btn {
    display: inline-block;
  }

  .header .header-1 {
    box-shadow: var(--box-shadow);
    position: relative;
  }

  .header .header-1 .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }

  .header .header-1 .search-form.active {
    top: 115%;
  }

  .home .row .content {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 3.5rem;
  }

  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .swiper-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .swiper-slide box {
    width: 20%;
    display: block;
  }
  .card box {
    width: 20%;
    display: block;
  }
}
